<div class="container home">
  <div *ngIf="sr.userIsNull">
    You are:
    <button mat-button (click)="setMyGender(1)">Male</button>
    <button mat-button (click)="setMyGender(2)">Female</button>
  </div>
  <div *ngIf="sr.user$ | async">
    <div *ngIf="!spinnerIsActive">
      You search:
      <button mat-button (click)="setPartnerParam(1)">Male</button>
      <button mat-button (click)="setPartnerParam(2)">Female</button>
      <button mat-button (click)="setPartnerParam(3)">Both</button>
    </div>
    <div *ngIf="spinnerIsActive">
      <mat-spinner></mat-spinner>
      <button mat-button (click)="cancelSearch()">Cancel</button>
    </div>
  </div>
</div>